/* NavBar Styles */
nav ul li {
    border-bottom: 3px solid rgb(190, 227, 219);
    margin: 6px;
    padding: 4px;
    font-size: 20px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li a {
    color: rgb(190, 227, 219);
    text-decoration: none;
}