body.custom {
    background: #eff4e5;
}

.about-me-header {
    font-size: 38px;
    padding: 0;
    margin: 0;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.about-section{
    margin-bottom: 80px;
    margin-top: 30px;
    font-size: calc(0.9em + 0.5vw);
}

.about-section .row {
    align-items: center;
}

.about-me-img {
    max-width: 300px;
    border-radius: 8px;
}

.about-me-text-container {
    border-radius: 6px;
    text-align: left;
    padding: 10px 20px;
}

.about-me-text {
    font-size: 18px;
}

@media (min-width: 768px) {
    .about-section {
        min-height: 73vh;
    }

    .about-container {
        margin-top: 40px;
    }

    .about-me-header {
        font-size: 50px;
    }

    .about-me-img {
        max-width: 340px;
    }
}

@media (min-width: 1240px) {
    .about-me-img {
        max-width: 480px;
    }

    .about-container {
        max-width: 1200px;
    }
}
