.card-main-text {
    margin: 0px;
    color:rgb(59, 102, 93);
    text-align: center;
}

.card-sub-text {
    margin-bottom: 12px;
    color:rgb(59, 102, 93);
    text-align: center;
}

.card-image {
  width: 280px;
  height: 180px;
}

.card-item {
  margin: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 94%;
  margin-left: 35px;
}

a.button {
  background-color: rgba(48, 128, 231, 0.801);
  color: white;
  text-decoration: none;
  padding: 4px;
  margin: 3px;
}

.btnLinks {
  margin-left: 24px;
}

 
/* Responsive columns */
/* Tablets */
  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }
    .footer ul{
      width:50%;
    }
}

@media screen and (max-width: 762px) {
  .column {
    width: 75%;
    display: block;
    margin-bottom: 20px;
  }
  .footer ul{
    width:75%;
  }
}


/* Smartphones */
  @media screen and (max-width: 576px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .footer ul{
      width:100%;
    }
}