h3 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h3 span {
    background-color: rgba(5, 26, 90, 0.308);
    padding: 5px;
    font-size: 18px;

}

.footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: space-between;
    flex-shrink: 0;
    padding-bottom: 25px;
}

.footer li a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    padding: 16px;
}

.footer {
    position: relative;
    bottom: 0;
    height: 2.5rem;
    margin-left: auto;
    margin-right:auto;
}

a:hover{
    color: rgba(3, 18, 65, 0.432);
}

