.footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.footer li a {
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin: 5px;
    font-weight: bold;
    padding: 15px;
}

a:hover{
    color: rgba(3, 18, 65, 0.432);
}